body {
    margin: 0;
    background-image: url("../image/hinh-nen-may-tinh-hd-dep-2018-41.jpg");
}
#tong {
    width: 433px;
    margin: 35px auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 17px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
}
h1 {
    text-align: center;
}
label {
    margin-left: 25px;
}
.thong-tin-bai-hat {
    display: block;
    width: 80%;
    padding: 10px 10px;
    margin: 5px 0 20px 25px;
    border-radius: 4px;
    border: 1px solid;
}
button {
    width: 78%;
    color: white;
    padding: 10px 1px;
    margin: 15px 38px;
    background-color: #3030fc;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #6868fa;
}
